body {
    font-family: "Outfit", sans-serif;
    background-image: url(Photos/Background-image.jpg);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 450px;
    height: 450px;
    background-color: #e0347f;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFAFCC;
    width: 143px;
    height: 143px;
    margin: 3px;
    border-radius: 20px;
    font-size: 60px;
    color: #FAF9F6;
}

