body {
    font-family: "Outfit", sans-serif;
    background-image: url(Photos/Background-image.jpg);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title>img{
    height: 90px;
    width: auto;
    margin-top: 20px;
}

.container-box {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 400px;
    height: 400px;
    background-color: #e0347f;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFAFCC;
    width: 125px;
    height: 125px;
    margin: 3px;
    border-radius: 20px;
    font-size: 60px;
    color: #FAF9F6;
}
.turn {
    position: absolute;
    bottom: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.turn>img{
    height: 50px;
    width: auto;
    margin-top: 20px;
}

